:root {
    --color-black: #000;
    --color-white: #fff;
    --color-green: #58f470;
    --color-gray-dark: #c4c4c4;
    --color-gray-light: #e5e5e5;
    --color-red: #ff0100;
    --color-yellow: #fff50e;
    --color-purple: #cc01ff;

    --font-size-200: 12px;
    --font-size-400: 14px;
    --font-size-900: 19px;

    --font: sans-serif;
}
